<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Payment Status</h2>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Water_bill</th>
            <th>Electric_bill</th>
            <th>Charge</th>
            <th>User_id</th>
            <th>Room_id</th>
            <th>Status</th>
            <th>Paydate</th>
        </tr>
    </thead>
    <!-- <tbody>
        <tr>
            <td>Slice of Pizza</td>
            <td>450</td>
            <td>95%</td>
            <td>$5.00</td>
            <td>Common</td>
            <td>8/10</td>
        </tr>
        <tr>
            <td>Hamburger</td>
            <td>350</td>
            <td>87%</td>
            <td>$3.50</td>
            <td>Common</td>
            <td>7.5/10</td>
        </tr>
    </tbody> -->
</table>
</body>
</html>

